<form method="post" action="/landmarks/<%=@landmark.id%>">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <label>Name: <input type="text" value="<%=@landmark.name%>" name="landmark[name]" id="name"></label>
  <label>Year Completed: <input type="text" value="<%=@landmark.year_completed%>" name="landmark[year_completed]" id="year_completed"></label>
  <input type="submit" value="Edit Landmark">
</form>
