<h1> <%= @figure.name %></h1>
<h3> Titles:
  <% @figure.titles.each do |title| %>
    <%= title.name %>
  <% end %>
</h3>

<h3> Landmarks:
  <% @figure.landmarks.each do |landmark| %>
    <%= landmark.name %>
  <% end %>
</h3>
